
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <style type="text/css">
        body {
            background-color: lightgray;
            font-family: Arial, 'Times New Roman';
            margin: 0 auto;
            max-width: 1500px;
            border: solid 4px white;
        }

        header {
            display: block;
            background-color: Orange;
            color: White;
            text-align: center;
        }

        .centr {
            text-align: center;
        }

        .right {
            text-align: right;
        }

        .h3Radius {
            display: block;
            background-color: deepskyblue;
            color: White;
            text-align: center;
            /*-webkit - для Chrome и Safari*/
            -webkit-border-radius: 10px;
            /*-moz- для Mozilla*/
            -moz-border-radius: 10px;
            border-radius: 10px;
            padding: 5px;
        }

        h3 {
            color: Orange;
            text-align: center;
        }

        

        h5 {
            color: Orange;
            text-align: center;
        }

        nav {
            width: 20%;
            float: left;
        }

            nav a:link, nav a:visited {
                display: block;
                font-weight: bold;
                padding: 10px;
                text-decoration: none;
                margin: 5px;
            }

            nav a:hover {
                color: White;
                background-color: Orange;
            }

        section {
            display: block;
            width: 60%;
            float: left;
        }

        article h3 {
            display: block;
            background-color: deepskyblue;
            color: White;
            text-align: center;
            /*-webkit - для Chrome и Safari*/
            -webkit-border-radius: 10px;
            /*-moz- для Mozilla*/
            -moz-border-radius: 10px;
            border-radius: 10px;
            padding: 5px;
        }

        article p {
            margin: 10px;
            text-align: justify;
        }

        aside {
            float: left;
            width: 20%;
        }

        footer {
            clear: both;
            color: white;
            background-color: Orange;
            text-align: center;
            padding: 15px;
        }
    </style>
</head>
<body>
    <header>
        <h1>БУММАШ</h1>
        <h2>Результат расчета поковоки</h2>
        <div class="timeNow"></div>
    </header>
    <nav>
        <h3 class="h3Radius">/</h3>
    </nav>
    <main>
        <section>
            <article>
                <h3>Кольцо раскатное</h3>
                <div class="centr">
                    <img src="Pic/Pic_1-27_Chert.png" alt="Error image" width="600" />
                </div>

                <h2>Результат</h2>
                <div>
                    <table border="1">
                        <thead>
                            <tr>
                                <th></th>
                                <th>D</th>
                                <th>r</th>
                                <th>H</th>
                                <th>V</th>
                                <th>m диск</th>
                                <th>m диска с отв.</th>
                                <th>Сферичность</th>
                                <th>Масса общая</th>
                            </tr>
                            
                        </thead>
                        <tbody>
                            <tr>
                                <th>Диск min</th>
                                <th>@ViewBag.D_Zagotovki_MIN</th>
                                <th>@ViewBag.Radius_pokovki_MIN</th>
                                <th>@ViewBag.H_Zagotovki_MIN</th>
                                <th>@ViewBag.Obem_Zagotovki_MIN</th>
                                <th>@ViewBag.Massa_zagotovki_MIN</th>
                                <th>@ViewBag.Massa_zagotovki_Obshaya_MIN</th>
                                <th>@ViewBag.Sverichnost_MIN</th>
                                <th>@ViewBag.Massa_zagotovki_Obshaya_Sverich_MIN</th>
                            </tr>
                            <tr>
                                <th>Диск номинал</th>
                                <th>@ViewBag.D_Zagotovki_Nominal</th>
                                <th>@ViewBag.Radius_pokovki_Nominal</th>
                                <th>@ViewBag.H_Zagotovki_Nominal</th>
                                <th>@ViewBag.Obem_Zagotovki_Nominal</th>
                                <th>@ViewBag.Massa_zagotovki_Nominal</th>
                                <th>@ViewBag.Massa_zagotovki_Obshaya_Nominal</th>
                                <th>@ViewBag.Sverichnost_Nominal</th>
                                <th>@ViewBag.Massa_zagotovki_Obshaya_Sverich_Nominal</th>
                            </tr>
                            <tr>
                                <th>Диск max</th>
                                <th>@ViewBag.D_Zagotovki_MAX</th>
                                <th>@ViewBag.Radius_pokovki_MAX</th>
                                <th>@ViewBag.H_Zagotovki_MAX</th>
                                <th>@ViewBag.Obem_Zagotovki_MAX</th>
                                <th>@ViewBag.Massa_zagotovki_MAX</th>
                                <th>@ViewBag.Massa_zagotovki_Obshaya_MAX</th>
                                <th>@ViewBag.Sverichnost_MAX</th>
                                <th>@ViewBag.Massa_zagotovki_Obshaya_Sverich_MAX</th>
                            </tr>
                            <tr>
                                <th>Отверстие min</th>
                                <th>@ViewBag.d__Zagotovki_MIN</th>
                                <th>@ViewBag.Radius_OTV_pokovki_MIN</th>
                                <th>@ViewBag.H_Zagotovki_MIN</th>
                                <th>@ViewBag.Obem_OTV_Zagotovki_MIN</th>
                                <th>@ViewBag.Massa_OTV_zagotovki_MIN</th>
                            </tr>
                            <tr>
                                <th>Отверстие номинал</th>
                                <th>@ViewBag.d__Zagotovki_Nominal</th>
                                <th>@ViewBag.Radius_OTV_pokovki_Nominal</th>
                                <th>@ViewBag.H_Zagotovki_Nominal</th>
                                <th>@ViewBag.Obem_OTV_Zagotovki_Nominal</th>
                                <th>@ViewBag.Massa_OTV_zagotovki_Nominal</th>
                            </tr>
                            <tr>
                                <th>Отверстие max</th>
                                <th>@ViewBag.d__Zagotovki_MAX</th>
                                <th>@ViewBag.Radius_OTV_pokovki_MAX</th>
                                <th>@ViewBag.H_Zagotovki_MAX</th>
                                <th>@ViewBag.Obem_OTV_Zagotovki_MAX</th>
                                <th>@ViewBag.Massa_OTV_zagotovki_MAX</th>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </article>
            
        </section>
        <aside>
            <h3 class="h3Radius">/</h3>
        </aside>
    </main>
    <footer>
        Все права защищены
    </footer>
    <script>
        //дата и время
        Data = new Date();
        Year = Data.getFullYear();
        Month = Data.getMonth();
        Day = Data.getDate();
        Hour = Data.getHours();
        Minutes = Data.getMinutes();
        // Преобразуем месяца
        switch (Month) {
            case 0: fMonth = "января"; break;
            case 1: fMonth = "февраля"; break;
            case 2: fMonth = "марта"; break;
            case 3: fMonth = "апреля"; break;
            case 4: fMonth = "мае"; break;
            case 5: fMonth = "июня"; break;
            case 6: fMonth = "июля"; break;
            case 7: fMonth = "августа"; break;
            case 8: fMonth = "сентября"; break;
            case 9: fMonth = "октября"; break;
            case 10: fMonth = "ноября"; break;
            case 11: fMonth = "декабря"; break;
        }
        // поле хранящее Вывод
        var timecalculate = `${Day} ${fMonth} ${Year} ${Hour}:${Minutes}`;
        var timeNowBlock = document.querySelector("div.timeNow");
        // создаем элемент
        var elem = document.createElement("h2");
        // создаем для него текст
        var elemText = document.createTextNode(timecalculate);
        // добавляем текст в элемент в качестве дочернего элемента
        elem.appendChild(elemText);
        // добавляем элемент в блок
        timeNowBlock.appendChild(elem);

    </script>
</body>
</html>
